# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.DS_Store/
**/.DS_Store

/.DS_Store/
**/.DS_Store/

/app/build/
*.apk
*.aab
.idea/
*.iml
local.properties
.kotlin/
*.jks
*.keystore

.gradle/
build/
captures/
.externalNativeBuild
.cxx/


# IntelliJ/Android Studio
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries/
.idea/libraries/
.idea/caches/
.idea/modules.xml

/build/
**/build/

build/
**/build/

/.gradle/
**/.gradle/

/.gradle/8.13/
**/.gradle/8.13/

/debug/
**/debug/